body{
    background-color: rgb(163, 163, 163);
}
#calculator{
    background-color: rgb(122, 122, 199);
    width: 400px;
    border-radius: 10px;
    border: solid rgb(90, 89, 161) 4px;
    margin: 100px auto 0px auto;
    padding: 10px 0px;
}
#interface{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin: 4px auto;
    border: solid rgb(90, 89, 161) 2px
}
#screen{
    border-radius: 10px;
    height: 80px;
    margin: 5px;
    resize: none;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
}
#buttonPad{
 display: flex;
 justify-content: center;
}
#numberKeys{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: solid rgb(90, 89, 161) 1px;
    border-radius: 5px;
    margin: 5px;
    width: 200px;
    padding: 5px;
}
#operatorKeys{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(90, 89, 161) 1px;
    border-radius: 5px;
    margin: 5px;
    width: 120px;
    padding: 5px;
    gap: 1px;
}
.number, .operator{
    margin: 2px;
    border-radius: 10px;
    border: solid rgb(90, 89, 161) 1px;
}
.number{
    width: 60px;
    height: 50px;
    font-size: larger;
}
.operator{
    width: 100px;
    height: 30px;
    font-size: larger;
}